
.card {
    background-color: #f4f4f4;
    width: 220px;
    height: 440px;
    border: #888;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-decoration: none;
}

.student-card {
    background-color: #f4f4f4;
    display: flex;
    align-items: center;
    gap: 15px;
    width: 220px;
    height: 80px;
    border: #888;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding-left: 10px;
    margin: 10px;
    text-decoration: none;
}

.student-card__image {
    
    width: 20%;
    height: auto;
    border: 1px solid #888;
    border-radius: 8px;
}

a.card:hover{
    background-color: #248fe7;
}

.card-large {
    position: relative;
    max-width: 90%;
    width: fit-content;
    padding: 20px;
    height: auto;  
    margin: auto;
}

.cards-container {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;   
}

.card__image {
    
    width: 100%;
    height: auto;
    border: 1px solid #888;
    border-radius: 8px;
}

.card__header {
    color: var(--secondary-color);
}

.card__paragraph {
    font-size: 1rem;
    color: #333;
}

.card__image--Mem1{
    background-color: #3715e0;
}

.card__image--Mem2{
    background-color: #64cd15;
}

.card__image--Mem3{
    background-color: #b51842;
}

.center{
    display: flex;
    justify-content: center; 
    align-items: center;    
    height: 70vh; 
}