<!DOCTYPE html>
<html lang="nl">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Foutmelding pagina">
  <link rel="stylesheet" href="../group19/stylesheet/index.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet">
  <title>Fout - Pagina niet gevonden</title>
</head>

<body>
    <h1>Oeps! Er is iets fout gegaan.</h1>
    <p>De pagina die je zoekt bestaat niet of er is een interne fout opgetreden.</p>
    <p><a href="/group19/">Klik hier om terug te keren naar de homepagina</a></p>
</body>

</html>