<!DOCTYPE html>
<html lang="nl">

<head>
    <meta charset="utf-8">
    <!-- de meta viewport zorgt voor goede schaling op verschillende schermen en de links is voor de connectie met de css -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Beschrijving van de groep">
    <link rel="stylesheet" href="../stylesheet/index.css">
    <!-- dit is voor het lettertype -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <title>Group 19</title>
</head>

<body onload="searchForElements()">
    <nav class="navigation">
        <figure class="group-image">
            <img src="../images/group19.png" alt="Logo of group 19" class="banner">
        </figure>
        <button class="menu-toggle" aria-label="Menu">
            ☰
        </button>
        <ul class="navigationnav">
            <li class="navitem">
                <a href="index.html" class="navlink">
                    <b class="linktext">Home</b>
                </a>
            </li>
            <li class="navitem">
                <a href="about.html" class="navlink">
                    <b class="linktext">About us</b>
                </a>
            </li>
            <li class="navitem">
                <a href="project.html" class="navlink">
                    <b class="linktext">Project</b>
                </a>
            </li>
        </ul>
    </nav>
    <h1 class="hw-h1">Het Vak</h1>
    <div class="cards-container">

        <section class="card">
            <h2>Cursusdoel</h2>
            <p class="text">
                Het Internet is een van de meest relevante toepassingen van informatica in de wereld. En voor veel
                mensen in de buitenwereld staat het Internet zelfs gelijk aan de meest zichtbare component daarvan: het
                World
                Wide Web. In deze praktische cursus kijken we hoe voor dit specifieke onderdeel van het Internet
                geprogrammeerd
                kan worden, op een veilige en werkbare manier, zowel voor de eindgebruiker als voor de programmeur. De
                historische
                context en bijbehorende technische concepten worden toegelicht.
            </p>

        </section>
        <article class="card">
            <h2>Vakinhoudelijk</h2>
            <p class="text">
                Het uitgangspunt van dit vak is het http protocol en alles wat daar bovenop gebouwd kan worden.
                Daarbij wordt ervaring opgedaan met relevante talen en technologieen, zoals (X)HTML, CSS, JavaScript,
                PHP en frameworks.
                Daarnaast wordt ingegaan op de historische context van het WWW en worden de concepten achter en allerlei
                technische
                aspecten van het WWW toegelicht. Ook dient de deelnemer zich het bijbehorende jargon eigen te maken.
            </p>

        </article>
        <article class="card">
            <h2>Het project</h2>
                <p class="text">
                    Voor dit project zijn wij begonnen met het maken van een github en een whatsapp groep voor bestanden
                    delen
                    en communicatie.
                    In de groep verschilt de ervaring met verschillende programmeertalen zoals hieronder wordt
                    aangegeven in de
                    tabel. 
                    Daarna volg de beschrijving van de eerste opdracht, waarvoor wij deze website hebben gemaakt, zoals die ook te vinden is op Blackboard. <a class="hw-link" href="https://uu.blackboard.com/ultra/courses/_152982_1/cl/outline" >Opdracht op BB.</a>
                </p>
        </article>
    </div>
    <table>
        <thead>
            <tr>
                <th>Naam</th>
                <th>Programmeer talen</th>
                <th>Ervaring met websites</th>
                <th>Sterke punten</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>André</td>
                <td>C#, Flutter/Dart, HTML</td>
                <td>Minimaal</td>
                <td>Leervermogen, Vrije tijd</td>
            </tr>
            <tr>
                <td>Ian</td>
                <td>C++, C#, Haskell, Python</td>
                <td>Nee</td>
                <td>Back-end development</td>
            </tr>
            <tr>
                <td>Quinten</td>
                <td>HTML, CSS, JavaScript, Python, Java, Dart, PHP</td>
                <td>Ja</td>
                <td>Front-end development</td>
            </tr>
        </tbody>
    </table>

    <article class="card card-large">
        <h2>De eerste opdracht</h2>
        <blockquote cite="https://uu.blackboard.com/ultra/courses/_152982_1/cl/outline">
            <p class="details">
             <h2 class="hw-h2">Description</h2> 
             <p class="hw-text"> 
              Develop a static website about your group.
              Use the Web-representation technologies and apply standards and <br>best practices discussed during Lectures 2 and 3 (HTML5, CSS3, accessibility, responsive design, SEO, good coding <br>style, etc.). The visual&nbsp; 
              appeal of your design is highly welcomed but no strict requirements are&nbsp;specified. Yet, please, <br>avoid deliberately repulsive color combinations. Your website&nbsp;
              is expected to present meaningful information about the <br>members of the group. The pages should be bigger than a paragraph, but smaller
              than a book chapter.
             </p> 
             <h3 class="hw-h3">Requirements</h3> 
             <p class="hw-text"> 
              Your website must:
              <ul class="hw-ul1"> 
               <li class="hw-li1">have at least 3 pages with meaningful content</li> 
               <li class="hw-li1">use HTML5 semantic elements for formatting</li> 
               <li class="hw-li1">use images</li> 
               <li class="hw-li1">have links between pages, within pages, and to external page(s)</li> 
               <li class="hw-li1">have at least one table (not used for formatting a webpage layout)<br></li> 
               <li class="hw-li1">be optimised for search engines</li> 
               <li class="hw-li1">use consistent layout and colour scheme</li> 
               <li class="hw-li1">use CSS for formatting, including at least:
                <ul class="hw-ul2">  
                 <li class="hw-li2">several different styles for links</li> 
                 <li class="hw-li2">several different styles for text</li> 
                 <li class="hw-li2">styles for table elements</li> 
                 <li class="hw-li2">cascading styles through selector spesificity</li> 
                 <li class="hw-li2">style inheritance</li> 
                </ul></li> 
               <li class="hw-li1">define all formatting styles in a separate CSS file</li> 
               <li class="hw-li1">be compliant with the HTML5 rules of <a class="hw-link2" href="http://validator.w3.org/" >W3C Markup Validation Service</a> and the CSS3 rules of <a class="hw-link2" href="http://jigsaw.w3.org/css-validator/">W3C CSS Validation Service</a></li> 
               <li class="hw-li1">not use any of the deprecated HTML elements or attributes (see for example <a class="hw-link2" href="http://www.w3schools.com/tags/">here)</a></li> 
               <li class="hw-li1">render correctly in the current versions of Chrome and Firefox browsers</li> 
               <li class="hw-li1">follow the Web accessibility standard on
                <ul> 
                 <li class="hw-li2">Keyboard compatibility</li> 
                 <li class="hw-li2">Text to speech</li> 
                 <li class="hw-li2">Clear layout and design</li> 
                 <li class="hw-li2">Customizable text</li> 
                 <li class="hw-li2">Understandable content</li> 
                </ul></li> 
               <li><span style="font-size: 10.0pt;">follow the responsive Web design guidelines for</span> 
                <ul> 
                 <li class="hw-li2">images</li> 
                 <li class="hw-li2">content positioning</li> 
                 <li class="hw-li2">units of measurement</li> 
                </ul></li> 
              </ul>  
             <h3 class="hw-h3">Maintain good coding style</h3> 
             <p class="hw-text"> 
              <ul class="hw-ul1"> 
               <li class="hw-li1">use indentation for nested HTML elements</li> 
               <li class="hw-li1">names for HTML elements and attributes</li> 
               <li class="hw-li1">use quotation marks for attribute values</li> 
               <li class="hw-li1">always use alt attribute with img elements</li> 
               <li class="hw-li1">use meaningful names for CSS classes</li> 
               <li class="hw-li1">follow the BEM naming convention for CSS classes</li> 
               <li class="hw-li1">short CSS rules can be written on one line, but long rules need to occupy multiple lines</li> 
               <li class="hw-li1">use lower case file names</li> 
               <li class="hw-li1">make sure your website has a clear and logical file structure (index.html, meaningful names of files and folders)</li> 
              </ul>  
             <h3 class="hw-h3">Procedure</h3> 
             <p class="hw-text"> 
              <ul class="hw-ul1"> 
               <li class="hw-li1">complete and submit your website in groups</li> 
               <li class="hw-li1">the website should be archived and submitted as a single zip through the <a href="https://uu.blackboard.com/webapps/portal/frameset.jsp" style="outline: 0.0px;color: rgb(192,10,53);text-decoration: none;border-bottom: 1.0px dotted rgb(38,38,38);">BlackBoard</a> system</li> 
              </ul> 
             <h3 class="hw-h3">Academic integrity</h3> 
             <p class="hw-text"> 
              The work should be done by you and your peers only. You can rely on the support of teaching assistants and student <br>assistants&nbsp;during the practicum time, but you are not allowed to use the code of other groups. It is also forbidden to use <br>HTML&nbsp;generating services and programs. You are required to manually create both the HTML and the CSS code. You can <br>use&nbsp;external sources for the content of your website, however, you must refer to them by linking and naming.
             </p>
            
        </blockquote>
    </article>
    <script src="../scripts/index.js"></script>
</body>

</html>