<!DOCTYPE html>
<html lang="nl">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Beschrijving van de groep">
    <link rel="stylesheet" href="../stylesheet/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <title>Group 19</title>
</head>

<body class="about-page">
    <nav class="navigation">
        <figure class="group-image">
            <img src="../images/group19.png" alt="Logo of group 19" class="banner">
        </figure>
        <button class="menu-toggle" aria-label="Menu">
            ☰
        </button>
        <ul class="navigationnav">
            <li class="navitem">
                <a href="/" class="navlink">
                    <b class="linktext">Home</b>
                </a>
            </li>
            <li class="navitem">
                <a href="/about" class="navlink">
                    <b class="linktext">About other people</b>
                </a>
            </li>
            <li class="navitem">
                <a href="/project" class="navlink">
                    <b class="linktext">Project</b>
                </a>
            </li>
            <li class="navitem">
                <a href="/profile" class="navlink">
                    <b class="linktext">Profile</b>
                </a>
            </li>
        </ul>
    </nav>
    <main class="profile-container">
        <h1>Welkom op de profielpagina van een medestudent</h1>
        <p><strong>Naam:</strong> <span id="name">Laden...</span></p>
        <p><strong>Email:</strong> <span id="email">Laden...</span></p>
    </main>

    
    <script src="../scripts/member.js"></script>
</body>

</html>